.idea
venv
backend/.env
backend/.idea
backend/venv
backend/__pycache__
backend/app/__pycache__
backend/app/routes/__pycache__
backend/app/utls/__pycache__
backend/tests/__pycache__


# frontend
# dependencies
/node_modules
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
